.add-list {
    background-color: #bcec97;
    height: 50vh;
    width: 100%;
    text-align: center;
}

.add-list h1 {
    margin-bottom: 20px;
}

.add-list span {
    margin-right: 5px;
    font-weight: bold;
}

.add-list input {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: gray;
}