header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.site-title {
    letter-spacing: 0.2vh;
    font-size: 4vh;
    cursor: default;
    margin-left: 8vw;
}

.my-lists-btn-span {
    margin-top: 1.5vh;
}

.my-lists-btn-span:hover {
    transform: scale(1.02);
}

.my-lists-btn-span:active {
    transform: scale(0.95);
}

header .btn {
    padding: 12px;
}

