button, .btn {
    background-color: #D4A373;
    color: black;
    font-weight: bold;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    min-height: 1vh;
    min-width: 1vw;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .9);
}

button:hover, .btn:hover {
    background-color: rgba(212, 163, 115, 0.5);
    transform: scale(1.02);
}

button:active, .btn:active {
    background-color: rgb(212, 163, 115);
    transform: scale(0.95);
}


.disabled-btn {
    background-color: #8a8a8a;
    cursor: default;
    margin-left: .5vh;
    margin-top: .3vh;
}

.disabled-btn:hover {
    background-color: #8a8a8a;
    transform: none;
}

.text-in-btn {
    font-size: 1.5vh;
}

.home-btn {
    text-decoration: none;
}

.home-btn:hover {
    transform: scale(1.02);
}

.home-btn:active {
    transform: scale(0.95);
}

.home-btn .text-in-btn {
    font-size: 3vh;
}

.delete-product-btn {
    margin-left: .5vh;
    margin-top: .3vh;
}

.delete-list-btn {
    margin-top: -.5vh;
}