.lists {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 1vh;
}

.one-list {
    font-size: 2vh;
    margin-top: 2vh;
}

.create-new-list-btn:active {
    transform: scale(1.2);
}
